@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Bebas Regular';
    src: url('./fonts/Bebas-Regular.otf') format('truetype'); /* Adjust the path according to your project structure */
}

#root {
    padding-top: 80px; /* Adjust according to the height of your navbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.underline-offset:hover {
    text-decoration: underline;
    text-underline-offset: 4px; /* Adjust this value to increase or decrease the space */
  }

  h1, h2, h3 {
    font-family: 'Bebas Regular', sans-serif;
}