@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    padding-top: 80px; /* Adjust according to the height of your navbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.underline-offset:hover {
    text-decoration: underline;
    text-underline-offset: 4px; /* Adjust this value to increase or decrease the space */
  }